<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  h1{
    color: darkblue;
  }
  p{
    color:black;
    border: 1px solid black;
  }
</style>
<body>
  
  <h1>welcome to My page</h1>
  <ul>
    <li>Apple</li>
    <li>banana</li>
    <li>mango</li>
    <li>grapes</li>
  </ul>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti maxime animi blanditiis laudantium repellendus quas error, pariatur quod alias assumenda saepe velit numquam, provident a distinctio. Accusantium doloribus cumque maxime!</p>
</body>
</html>